@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";
/* line 3, ../components/sass/_base.scss */
body {
  background: #eddbba;
  font-family: "Inika", serif;
  font-size: 1.1em;
}

/* line 9, ../components/sass/_base.scss */
#content {
  color: #cc8e94;
  font-size: 2em;
}

/* line 14, ../components/sass/_base.scss */
.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

/* line 21, ../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Patua One", sans-serif;
  font-size: 3em;
}

/* line 26, ../components/sass/_base.scss */
h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #507356;
}
@media (max-width: 700px) {
  /* line 26, ../components/sass/_base.scss */
  h1 {
    font-size: 2.2em;
  }
}

/* line 36, ../components/sass/_base.scss */
h2 {
  font-size: 1.5em;
  color: #3e2b3d;
}

/* line 41, ../components/sass/_base.scss */
p {
  font-size: 1.3em;
  line-height: 1.5em;
  color: #3e2b3d;
  margin-bottom: 20px;
  margin-top: 15px;
}

/* line 49, ../components/sass/_base.scss */
section {
  padding: 20px 0;
}

/* line 29, ../components/sass/_mixins.scss */
.artgroup:after {
  content: "";
  display: table;
  clear: both;
}

/* line 3, ../components/sass/_modules.scss */
.city {
  background: url("../images/backgrounds/seattle_skyline.jpg") no-repeat 50% 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media (min-width: 801px) {
  /* line 3, ../components/sass/_modules.scss */
  .city {
    height: 350px;
  }
}
@media (max-width: 800px) {
  /* line 3, ../components/sass/_modules.scss */
  .city {
    height: 150px;
  }
}
@media (max-width: 300px) {
  /* line 3, ../components/sass/_modules.scss */
  .city {
    height: 100px;
  }
}
/* line 5, ../components/sass/_modules.scss */
.city img.logo {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  max-width: 450px;
  min-width: 250px;
}

/* line 15, ../components/sass/_modules.scss */
.featuredartists {
  background: #8d8862;
  border-top: 20px solid #e3c691;
  border-bottom: 50px solid #507356;
}
/* line 20, ../components/sass/_modules.scss */
.featuredartists h1 {
  font-size: 3em;
  color: #263729;
}
@media (max-width: 700px) {
  /* line 20, ../components/sass/_modules.scss */
  .featuredartists h1 {
    font-size: 2em;
  }
}
/* line 28, ../components/sass/_modules.scss */
.featuredartists h2 {
  margin-top: 20px;
  font-size: 1.8em;
  color: #dbb570;
}
@media (max-width: 700px) {
  /* line 28, ../components/sass/_modules.scss */
  .featuredartists h2 {
    display: none;
  }
}
/* line 37, ../components/sass/_modules.scss */
.featuredartists p {
  color: #314634;
}
/* line 41, ../components/sass/_modules.scss */
.featuredartists .artistlist {
  padding-bottom: 20px;
}
/* line 44, ../components/sass/_modules.scss */
.featuredartists .artistlist h2 {
  margin-top: 5px;
  font-size: 1.2em;
  color: #ebd7b2;
}
/* line 50, ../components/sass/_modules.scss */
.featuredartists .artistlist .item {
  min-width: 95px;
  color: #6f6b4d;
  width: 18%;
  float: left;
  padding: 1%;
  text-align: center;
  position: relative;
}
/* line 59, ../components/sass/_modules.scss */
.featuredartists .artistlist .item > img {
  max-width: 130px;
  margin: 0 auto;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
}

/* line 70, ../components/sass/_modules.scss */
.potterypix {
  background: url("../images/backgrounds/pottery_workshop.jpg") no-repeat 50% 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-bottom: 50px solid #8d8862;
}
@media (min-width: 801px) {
  /* line 70, ../components/sass/_modules.scss */
  .potterypix {
    height: 350px;
  }
}
@media (max-width: 800px) {
  /* line 70, ../components/sass/_modules.scss */
  .potterypix {
    height: 150px;
  }
}
@media (max-width: 300px) {
  /* line 70, ../components/sass/_modules.scss */
  .potterypix {
    height: 100px;
  }
}

/* line 76, ../components/sass/_modules.scss */
.aboutvenue img {
  float: right;
}

/* line 81, ../components/sass/_modules.scss */
.workshoppix {
  background: url("../images/backgrounds/woodworking_workshop.jpg") no-repeat 50% 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-bottom: 50px solid #8d8862;
}
@media (min-width: 801px) {
  /* line 81, ../components/sass/_modules.scss */
  .workshoppix {
    height: 350px;
  }
}
@media (max-width: 800px) {
  /* line 81, ../components/sass/_modules.scss */
  .workshoppix {
    height: 150px;
  }
}
@media (max-width: 300px) {
  /* line 81, ../components/sass/_modules.scss */
  .workshoppix {
    height: 100px;
  }
}

/* line 87, ../components/sass/_modules.scss */
.ontour h1 {
  color: #4d354c;
  font-size: 3em;
  bottom: 10px;
  right: 10%;
}
/* line 94, ../components/sass/_modules.scss */
.ontour h2 {
  font-size: 1.8em;
  color: #8d8862;
  border-top: 1px solid #8d8862;
  padding-top: 5px;
}
/* line 101, ../components/sass/_modules.scss */
.ontour h3 {
  font-size: 1.3em;
  color: #6b4a69;
  padding-bottom: 5px;
}
/* line 107, ../components/sass/_modules.scss */
.ontour img {
  float: right;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding-left: 20px;
  width: 20%;
  min-width: 120px;
  max-width: 160px;
}

/* line 4, ../components/sass/_pixgrid.scss */
.pixgrid img {
  max-width: 90px;
  display: block;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding: 0 5px 5px 0;
  cursor: url(../images/misc/magnifying_glass.png), auto;
}
/* line 12, ../components/sass/_pixgrid.scss */
.pixgrid .preview img {
  padding: 0;
}

/* line 4, ../components/sass/_rclick.scss */
.rclick .item {
  display: block;
  float: left;
}
/* line 7, ../components/sass/_rclick.scss */
.rclick .item img {
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
}
/* line 12, ../components/sass/_rclick.scss */
.rclick .preview {
  position: relative;
}
/* line 15, ../components/sass/_rclick.scss */
.rclick .preview img {
  position: absolute;
  z-index: 90;
  max-width: 400px;
  display: block;
  border: 1px solid #FCF4DC;
  margin: 0;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: black 5px 5px 12px;
  -moz-box-shadow: black 5px 5px 12px;
  box-shadow: black 5px 5px 12px;
}
