// _pixgrid.scss
// ==============
.pixgrid {
   img {
      max-width: 90px;
      display: block;
      @include border-radius(15px);
      padding: 0 5px 5px 0;
      cursor: url(../images/misc/magnifying_glass.png), auto;
   }
  
  .preview img {
    padding: 0;
  }
}
